
    
ul {
    list-style-type: none;
    padding: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

hr {
    height: 1px;
    width: 100%;
    border: none;
    background-color: white;
}

// .neighbourhood-list {
//     position: absolute;
//     min-width: 150px;
//     z-index: 1;
// }

.neighbourhood-list li {
    display: block;
    padding: 20px 0px;
    border: 1px solid white;
    color: white;
    background: black;
    margin: 10px 0px;
    text-align: center;
}

.form-area {
    position: absolute;
    bottom: 0;
    z-index: 10;
}

// .popup {
//     display: none;
// }

.container {
    text-align: center;
    display: flex;
    aside {
        flex-basis: 30%;
    }

    .map-container {
        flex-basis: 70%;
        order: -1;
        position: relative;
    }
}

aside {
    display: flex;
    align-items: center;
    // width: 30%;
    // position: absolute;
    // right: 0;
    flex-direction: column;
    justify-content: space-between;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2306141c'/%3E%3Cstop offset='1' stop-color='%23050321'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    // background-repeat: no-repeat;
    // background-size: cover;
    z-index: 10;
    // border: 1px solid red;
    height: 100vh;
    background: #0c0b0b;
}

footer {
    color: white;
    a {
    color: white;
    text-decoration: none;
    }
}

aside .fa-arrow-circle-left, aside .fa-arrow-circle-right {
    position: absolute;
    color: white;
    top: 45%;
    right: 10px;
    z-index: 30;
    font-size: 30px;
    display: none;
}

.neighbourhood-list li.active {
    border: 1px solid rgb(65, 33, 33);
}

a.website-link {
    color: rgba(129, 63, 63, 0.5);
}



@media screen and (max-width: 1000px) {
    .neighbourhood-list, .dropdown, footer {
        display: none;
    }

    aside .fa-arrow-circle-left {
        display: block;
    }

    .hideArrow.expand-sidebar .fa-arrow-circle-left {
        display: none;
    }

    .showArrow.close-sidebar .fa-arrow-circle-right {
        display: block;
    }

    
    .container aside {
        flex-basis: 7%;
        // position: absolute;
        // right: 0;

    }

    .container .map-container {
        flex-basis: 93%;
        width: 100%;
    }

    aside {
    transition: flex-basis 1s linear;
    }

    .container .slide {
        flex-basis: 100%;
        width: 100%;
        z-index: 100;
        .neighbourhood-list, .dropdown, footer {
            display: block;
        }
    }
}


