form {
    
    display: flex;
    flex-direction: column;
    input, textarea {
        background: rgb(18, 18, 37);
        padding: 20px 30px;
        border: 1px solid white;
        color: white;
    }
    input::placeholder, textarea::placeholder {
        color: white;
    }
    input[type=submit] {
        background: rgba(143, 141, 141, 0.3);
        // color: black;
        
    }
}

.contribute {
    padding: 20px;
    border: 1px solid white;
    color: white;
    background: rgba(65, 33, 33, 0.9);
    margin-bottom: 20px;
    margin-top: 20px;
}

.closeForm {
    color: white;
}

.form-area {
    // opacity: 0;
    position: absolute;
    top: 10%;
    left: 20%;
    display: none;
    opacity: 0.8;
    // transition: opacity 0.5s ease-in;
}

.form-area-fade {
    opacity: 0.9;
}

.popup {
    border: 1px solid white;
    background: rgba(65, 33, 33, 0.9);
    color: white;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 20%;
    height: 100px;
    width: 300px;
    display: none;
    text-align: center;
}

.closePopup {
    z-index: 100000;
}

